html,
body {
    margin: 0;
    padding: 0;
}


/* 
* {
    font-family: 'Courier New', 'Courier';
} */

html {
    scroll-behavior: smooth;
}

header {
    height: 50vh;
    margin: 25vh 16px;
}

.stop-learn-in-5-days {
    font-size: 1.5em;
    font-weight: bold;
}

.joke-about-5-days {
    font-size: 1.17em;
    line-height: 24px;
}


/* .semilink {
    background-image: radial-gradient(circle, rgba(102, 102, 102, 0.6) 1px, transparent 1px);
    background-repeat: repeat-x;
    background-position: 0 92%;
    text-decoration: none;
    transition: all .25s 0s ease;
    cursor: pointer;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    color: #666;
    background-size: 4px 1px;
} */

@keyframes showNav {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav {
    opacity: 1;
    animation-name: showNav;
    animation-duration: 4s;
}

.text-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}