html,
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Courier New', 'Courier';
}

header {
    height: 50vh;
    margin: 15vh 16px;
}

blockquote {
    padding: 22px 80px 24px 60px;
    margin: 0 0 24px;
    background: #f7f5ec;
}

@media (max-width: 767px) {
    blockquote {
        padding: 24px 32px;
        margin-right: -16px;
        margin-left: -16px;
    }
}

.stop-learn-in-5-days {
    font-size: 1.5em;
    font-weight: bold;
}

.joke-about-5-days {
    font-size: 1.17em;
    line-height: 24px;
}