html,
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Courier New', 'Courier';
}

header {
    height: 50vh;
    margin: 25vh 16px;
}

blockquote {
    padding: 22px 80px 24px 60px;
    margin: 0 0 24px;
    background: #f7f5ec;
}

@media (max-width: 767px) {
    blockquote {
        padding: 24px 32px;
        margin-right: -16px;
        margin-left: -16px;
    }
}

.stop-learn-in-5-days {
    font-size: 1.5em;
    font-weight: bold;
}

.joke-about-5-days {
    font-size: 1.17em;
    line-height: 24px;
}

.container {
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
    transition: padding 0.2s ease-in;
}

@media (min-width: 1420px) {
    .container {
        width: 1400px;
    }
}

.row {
    margin-right: -16px;
    margin-left: -16px;
}

@media (min-width: 993px) {
    .col-offset-2 {
        margin-left: 16.666666666666664%;
    }
    .col-6 {
        width: 50%;
    }
    [class^='col-'] {
        float: left;
    }
}

@media (min-width: 768px) {
    .col-sm-8 {
        width: 66.66666667%;
    }
}

@media (min-width: 768px) {
    [class^='col-'] {
        float: left;
    }
}

[class^='col-'] {
    position: relative;
    min-height: 1px;
    padding-right: 16px;
    padding-left: 16px;
}

.semilink {
    background-image: radial-gradient(circle, rgba(102, 102, 102, 0.6) 1px, transparent 1px);
    background-repeat: repeat-x;
    background-position: 0 92%;
    text-decoration: none;
    transition: all .25s 0s ease;
    cursor: pointer;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    color: #666;
    background-size: 4px 1px;
}

@keyframes showNav {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav {
    opacity: 1;
    animation-name: showNav;
    animation-duration: 4s;
}

.text-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}